vscode-antimony/.vscode-test
vscode-antimony/*.vsix
vscode-antimony/py36
vscode-antimony/py37
vscode-antimony/__pycache__
vscode-antimony/pythonFiles
vscode-antimony/node_modules
vscode-antimony/temp
vscode-antimony/client/out
vscode-antimony/dist
vscode-antimony/out
**/*.log
vscode-antimony/.lark-cache
vscode-antimony/*.prof
__pycache__/

# for ols
!vscode-antimony/pythonFiles
vscode-antimony/pythonFiles/*
!vscode-antimony/pythonFiles/lib
vscode-antimony/pythonFiles/lib/*
!vscode-antimony/pythonFiles/lib/python
vscode-antimony/pythonFiles/lib/python/*
!vscode-antimony/pythonFiles/lib/python/ols_client