# IDE
.vscode/**
.vscode-test
 
# JS source
src/utils/utils.ts
src/annotationInput.ts
src/extension.ts
scripts/**
 
# Development files
requirements.txt
all-requirements.txt
scripts/**
webpack.config.js
temp
**/*.ts
**/tsconfig.json
**/tsconfig.base.json
.travis.yml
.gitignore
 
# Venvs
py36
py37
venv
 
# Logs
**/*.log
 
# Build files
*.vsix
**/*.pyc
.lark-cache
pack/**
src/syntax/antimony-syntax/**
.gitignore
.github/**
node_modules/**
out/**
