appdirs==1.4.4
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
colorlog==4.8.0
easydev==0.11.0
idna==2.10
git+ssh://git@github.com/lark-parser/lark.git@5b8c04ca83b9#egg=lark_parser
libChEBIpy==1.0.10
pexpect==4.8.0
ptyprocess==0.7.0
pygls==0.9.1
requests==2.25.1
requests-cache==0.5.2
six==1.15.0
urllib3==1.26.4
antimony
bioservices==1.8.3
# ols_client==0.0.9
orjson==3.8.0