
lark-parser @ git+git://github.com/lark-parser/lark.git@5b8c04ca83b98f8887a5967f8260d44dec2f7422
requests==2.25.1
requests-cache==0.5.2
# # If this fails, use Python 3.6
# dataclasses==0.8
pygls==0.9.1
easydev==0.11.0
# suds-jurko==0.6
six==1.15.0
# ./stibium-src
bioservices==1.8.2